/******************************************************************
HEADER STYLESHEETS
******************************************************************/

.site-header {

    margin-top: rem-calc(32);

    #inner-header {
        li {
            list-style: none;
        }
    }

    .site-branding {
        text-align: center;
    }

    .site-logo, .site-info {
        text-align: inherit;
    }

    .site-logo img {
        width: 40%;
        opacity: .8;
    }

    .site-title {

        font: {
            size: rem-calc(26);
            weight: $header-font-weight;
        }

        letter-spacing: rem-calc(3);
        margin: rem-calc(5 0 -12 0);

        a {
            color: lighten($header-font-color, 10%);
        }

        a:hover {
            color: $header-font-color;
        }
    }

    .site-description, .site-email {

        font: {
            size: rem-calc(11);
            weight: 300;
        }

        color: darken($header-font-color, 10%);
        text-transform: uppercase;
        letter-spacing: rem-calc(1.5);
        display: inline;

        a {
            color: darken($header-font-color, 10%);
        }

        a:hover {
            color: $header-font-color;
        }
    }

    .social-media {

        text-align: center;

        .social-links {
            display: inline-block;
            list-style: none;
            margin-bottom: 0;
            margin-left: 0;

            li {
                float: left;
                margin-right: .4rem;

                .fa {
                    font-size: rem-calc(22);
                }
            }

            li:last-child {
                margin-right: 0;
            }
        }
    }
}

@media only screen and (min-width: 40.0625em) { // 641px

    .site-header {
        .site-branding {
            text-align: left;
        }
        
        .site-logo {
            float: left;
            margin-right: 1rem;
            display: inline-block;
            
            img {
                width: rem-calc(100);
            }
        }

        .site-info {
            display: inline-block;
        }

        .site-title {

        }

        .site-description, .site-email {
            margin: 0;
            padding-left: rem-calc(5);
        }

        .social-media {
            text-align: right;
            margin-top: rem-calc(20);

            .social-links {
                li .fa {
                    font-size: rem-calc(21);
                }

                li#menu-name {
                    font-size: rem-calc(14);
                    font-weight: 200;
                    text-transform: uppercase;
                    margin-right: rem-calc(11);
                }
            }
        }

    }

} // end of media query