/******************************************************************

Stylesheet: soblossom_social_media_links

link-format-tip via: //justintadlock.com/archives/2013/08/14/social-nav-menus-part-2
colors via: //paulund.co.uk/social-media-colours

Adjust where necessary

******************************************************************/
.social-media {

    margin-top: 1.1rem;

    .social-links {
        float: right;
        list-style: none;
        margin-bottom: 0;
        margin-left: 0;

        li#menu-name {
            font-size: .9rem;
            font-weight: 200;
            text-transform: uppercase;
            margin-right: .6rem;
        }

        li {
            float: left;
            margin-right: .4rem;
        }

        li:last-child {
            margin-right: 0;
        }
    }
}