/******************************************************************
Site Name:
Author:

Stylesheet: Event Organiser Plugin Styles

******************************************************************/



.event-infos {
	margin-top: 2rem;
}

.eventorganiser-event-meta {
	
	color: $text-color-light;
	
	border: {
		top: 3px solid lighten($text-color-light, 23);
		bottom: 7px solid lighten($text-color-light, 23);
	}
	
	font: {
		size: 14px;
		size: 1.4rem;
	}	
	
	h4 {
		border: {
			bottom: 3px dashed lighten($text-color-light, 25);
		}
		
		font: {
			size: 14px;
			size: 1.6rem;
			weight: bold;
		}
		
		margin: 0;
		padding: 3px 2px;
		text-transform: uppercase;
	}
	
	hr {
		display: none;
	}	


	.eo-event-meta {
		margin: 1.5rem;
	
		li strong:first-child {
			text-transform: uppercase;
		}
	}

	.eo-event-venue-map {
		@extend .cf;
	
		float: none;
		width: 100%;
	
	}
}

/************************
 * eo_events shortcode
 ************************/

.eo-events-shortcode, .tdb-events {
	
	border-radius: 1rem;
	border: $dark-gray 1px solid;
	padding: .8rem;
	
	li {
		vertical-align: top;
		display:inline-block;
		width: 33%;
		
		p {
			display: none;
		}
	}
	
	.event-date {
		width: 6rem;
		height: 6rem;
		background-color: $text-color;
		border-radius: 100%;
		float: left;
		text-align: center;
		color: $back-color;
		padding: 1rem;
		
		div {
			position: relative;
			line-height: 90%;
		}
	}
	
	.event-day {
		font-size: 3rem;
	}
	
	.event-month {		
		opacity: .7;
	}
	
	.event-description {
		
		display: inline-block;
		padding: 0 1rem;
		line-height: 130%;
		
		a {
			font-weight: 400;
		}
		
		span {
			display: block;
			font-size: 85%;
			line-height: 110%;
			padding: 0 .3rem;
		}
	}
}